In [2]:
import pandas as pd

In [3]:
dat = pd.read_csv("go_track_tracks.csv")

In [4]:
dat2 = pd.read_csv("go_track_trackspoints.csv")

In [5]:
dat.head()

,id,id_android,speed,time,distance,rating,rating_bus,rating_weather,car_or_bus,linha
0,1,0,19.210586,0.138049,2.652,3,0,0,1,NaN
1,2,0,30.848229,0.171485,5.290,3,0,0,1,NaN
2,3,1,13.560101,0.067699,0.918,3,0,0,2,NaN
3,4,1,19.766679,0.389544,7.700,3,0,0,2,NaN
4,8,0,25.807401,0.154801,3.995,2,0,0,1,NaN

In [6]:
dat2.head()

   id   latitude  longitude  track_id                 time
0   1 -10.939341 -37.062742         1  2014-09-13 07:24:32
1   2 -10.939341 -37.062742         1  2014-09-13 07:24:37
2   3 -10.939324 -37.062765         1  2014-09-13 07:24:42
3   4 -10.939211 -37.062843         1  2014-09-13 07:24:47
4   5 -10.938939 -37.062879         1  2014-09-13 07:24:53

In [14]:
merge_dat = dat.merge(dat2,left_on='id',right_on='track_id')

In [15]:
merge_dat.to_csv('new_dat.csv')